In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../data/MainArchive/2020/ar_disbursements_emp_off_data_2020.txt',sep='|')

In [7]:
df.head()

,OID,EMP_OFF_TYPE,FIRST_NAME,MIDDLE_NAME,LAST_NAME,TITLE,STATUS_OTHER_PAYER,GROSS_SALARY,ALLOWANCES,OFFICIAL_BUSINESS,OTHER_NOT_RPTD,TOTAL,REP_PCT,POL_PCT,CONT_PCT,GEN_OVRHD_PCT,ADMIN_PCT,RPT_ID,ITEM_NUM
0,5328138,601,DANNY,,SEEBECK,PRESIDENT,C,NaN,NaN,NaN,2700.0,2700.0,NaN,NaN,NaN,NaN,NaN,739402,NaN
1,5328139,601,TAYLOR,,SIMMS,VICE PRESIDENT,C,NaN,NaN,NaN,2714.0,2714.0,NaN,NaN,NaN,NaN,NaN,739402,NaN
2,5328140,601,PAYTON,,REECE,SECRETARY,C,NaN,NaN,NaN,2020.0,2020.0,NaN,NaN,NaN,NaN,NaN,739402,NaN
3,5328141,601,ROY,,HINDMAN,TREASURER,C,NaN,NaN,NaN,2020.0,2020.0,NaN,NaN,NaN,NaN,NaN,739402,NaN
4,5328142,601,MELVIN,,WALKER,STEWARD,C,NaN,NaN,NaN,820.0,820.0,NaN,NaN,NaN,NaN,NaN,739402,NaN

In [8]:
df['EMP_OFF_TYPE'].value_counts()

601    33482
602    17388
604      805
Name: EMP_OFF_TYPE, dtype: int64

In [15]:
df.loc[df['EMP_OFF_TYPE'] == 602,'TITLE'].value_counts()

ORGANIZER                   684
SECRETARY                   519
BUSINESS REPRESENTATIVE     505
BUSINESS AGENT              424
ADMINISTRATIVE ASSISTANT    371
                           ...
DIRECTOR  PUBLIC POLICY       1
WEB ADMINISTRATOR             1
SR STRAT ADVISOR-S&L          1
CONTRACT STAFF REP.           1
TELEPHONE OPERATOR            1
Name: TITLE, Length: 3826, dtype: int64

In [16]:
lead_df = df.loc[df['EMP_OFF_TYPE'] == 601]

In [54]:
unions_df = pd.read_csv('../data/MainArchive/2020/lm_data_data_2020.txt',sep='|')

In [19]:
unions_df.dtypes

UNION_NAME                     object
AFF_ABBR                       object
F_NUM                           int64
FYE                             int64
UNIT_NAME                      object
EST_DATE                       object
TERM_DATE                      object
SHORTAGE                       object
MAXIMUM_BOND                  float64
PD_COVERED_FROM                object
PD_COVERED_TO                  object
CONSTITUTION_BYLAW             object
TERMINATE                      object
TTL_ASSETS                    float64
SUBSIDIARY                    float64
DESIQ_PRE                     float64
DESIG_NUM                     float64
DESIG_SUF                     float64
DESIG_NAME                     object
TTL_LIABILITIES               float64
TTL_RECEIPTS                    int64
TTL_DISBURSEMENTS             float64
MEMBERS                       float64
REGISTER_DATE                  object
AMENDED                        object
HARDSHIP                       object
HAS_TRUST                      object
PAC_FUNDS                      object
OUTSIDE_AUDIT                  object
HAS_PROPERTY_CHANGE            object
ASSETS_PLEDGED                 object
CONTINGENT                     object
NEXT_ELECTION                  object
HAS_LIQUIDATED_LIABILITIES    float64
HAS_EXTENDED_LOAN_CREDIT      float64
HAS_LIQUIDATED_RECEIVABLES    float64
HAS_SUBSIDIARY                 object
NUM_ATTACHMENTS               float64
RPT_ID                          int64
YR_COVERED                      int64
AMENDMENT                       int64
RECEIVE_DATE                   object
ADR_ID                          int64
ADDRESS_TYPE                    int64
MAIL_FIRSTNAME                 object
MAIL_LASTNAME                  object
BUILD_NUM                      object
STREET_ADR                     object
CITY                           object
STATE                          object
ZIP                            object
VOICE                         float64
MOD_DATE                       object
MOD_ID                          int64
RECORD_KEPT                    object
FORM_TYPE                      object
dtype: object

In [23]:
unions_df.UNION_NAME.value_counts()

LETTER CARRIERS, NATL ASN, AFL-CIO      1041
LETTER CARRIERS, RURAL, IND              684
COMMUNICATIONS WORKERS AFL-CIO           605
MAINTENANCE OF WAY EMPLS, IBT            507
CARPENTERS IND                           322
                                        ...
SIKORSKY AIRCRAFT SECURITY OFFICERS        1
MI STAFF EMPLOYEES ASSOCIATION             1
MUSEUM OF FINE ARTS                        1
SCOTIA EMPLOYEE ASSOCIATION                1
INDEPENDENT GUARD UNION                    1
Name: UNION_NAME, Length: 342, dtype: int64

In [25]:
unions_df.loc[unions_df['UNION_NAME'] == 'COMMUNICATIONS WORKERS AFL-CIO']

,UNION_NAME,AFF_ABBR,F_NUM,FYE,UNIT_NAME,EST_DATE,TERM_DATE,SHORTAGE,MAXIMUM_BOND,PD_COVERED_FROM,...,BUILD_NUM,STREET_ADR,CITY,STATE,ZIP,VOICE,MOD_DATE,MOD_ID,RECORD_KEPT,FORM_TYPE
683,COMMUNICATIONS WORKERS AFL-CIO,CWA,23941,9,NaN,1970-12-01,NaN,F,350000.0,2019-10-01,...,NaN,5153 POPLAR LEVEL ROAD,LOUISVILLE,KY,40219,NaN,2020-12-15 12:00:15.576818,10000,T,LM-2
684,COMMUNICATIONS WORKERS AFL-CIO,CWA,69015,9,NaN,1970-12-01,NaN,F,65000.0,2019-10-01,...,NaN,466 N FARNSWORTH APT E,AURORA,IL,605053078,NaN,2020-12-15 16:48:11.305015,10000,T,LM-3
685,COMMUNICATIONS WORKERS AFL-CIO,CWA,68570,9,NaN,1970-12-01,NaN,F,10000.0,2019-10-01,...,PO BOX 490,NaN,NORTH TONAWANDA,NY,141200490,NaN,2020-12-14 12:47:27.071536,10000,F,LM-3
686,COMMUNICATIONS WORKERS AFL-CIO,CWA,68735,9,NaN,1970-12-01,NaN,F,12500.0,2019-10-01,...,PO BOX 310698,NaN,NEWINGTON,CT,06131,NaN,2020-12-11 10:12:22.959732,10000,F,LM-3
687,COMMUNICATIONS WORKERS AFL-CIO,CWA,68572,9,NaN,1970-12-01,NaN,F,2500.0,2019-10-01,...,PO BOX 612,NaN,LUMBERTON,NC,283590612,NaN,2020-12-03 20:43:50.789771,10000,F,LM-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283,COMMUNICATIONS WORKERS AFL-CIO,CWA,546335,9,UNIFIED STATE COUNCIL OF ILLINOIS,2020-01-06,NaN,F,NaN,2019-10-01,...,SUITE 108,425 SOUTH MURRAY ROAD,RANTOUL,IL,61866,NaN,2020-12-28 11:34:28.733176,10000,F,LM-4
1284,COMMUNICATIONS WORKERS AFL-CIO,CWA,40702,9,NaN,1970-12-01,NaN,F,2500.0,2019-10-01,...,NaN,100 Morris St,Blossburg,PA,16912,NaN,2021-01-21 21:32:34.225798,10000,F,LM-4
1285,COMMUNICATIONS WORKERS AFL-CIO,CWA,26091,12,FORTH WORTH,1970-12-01,2020-06-30,F,5000.0,2020-01-01,...,SUITE C,920 ROBERTS CUTOFF ROAD,RIVEROAKS,TX,76114,NaN,2020-09-18 12:04:39.010167,10000,F,LM-4
1286,COMMUNICATIONS WORKERS AFL-CIO,CWA,41210,9,NaN,1970-12-01,NaN,F,50000.0,2019-10-01,...,NaN,2019 GALISTEO CENTER STE G1,SANTA FE,NM,87505,NaN,2021-01-20 22:32:38.864366,10000,T,LM-3
1287,COMMUNICATIONS WORKERS AFL-CIO,CWA,33247,9,NaN,1970-12-01,NaN,F,50000.0,2019-10-01,...,NaN,1304 RINGO,MEXICO,MO,65265,NaN,2021-01-21 12:53:06.044404,10000,T,LM-3

In [37]:
unions_df['F_NUM'].value_counts()

2049      1
502456    1
13011     1
31442     1
21199     1
         ..
514785    1
542058    1
91494     1
509282    1
542719    1
Name: F_NUM, Length: 6431, dtype: int64

In [40]:
unions_df.loc[unions_df['F_NUM'] == 2049]

,UNION_NAME,AFF_ABBR,F_NUM,FYE,UNIT_NAME,EST_DATE,TERM_DATE,SHORTAGE,MAXIMUM_BOND,PD_COVERED_FROM,...,BUILD_NUM,STREET_ADR,CITY,STATE,ZIP,VOICE,MOD_DATE,MOD_ID,RECORD_KEPT,FORM_TYPE
4680,"MAINTENANCE OF WAY EMPLS, IBT",BMWE,2049,3,NaN,1970-12-01,NaN,F,35000.0,2019-04-01,...,NaN,125 W. MERLE HIBBS BLVD #22,MARSHALLTOWN,IA,501580733,NaN,2020-06-24 13:10:33.651056,10000,F,LM-4

In [39]:
unions_2019 = pd.read_csv('../data/MainArchive/2019/lm_data_data_2019.txt',sep='|')

/Users/ben_gunn/Developer/Union_Elections/venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (15,17,50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [41]:
unions_2019.loc[unions_2019['F_NUM'] == 2049]

,UNION_NAME,AFF_ABBR,F_NUM,FYE,UNIT_NAME,EST_DATE,TERM_DATE,SHORTAGE,MAXIMUM_BOND,PD_COVERED_FROM,...,BUILD_NUM,STREET_ADR,CITY,STATE,ZIP,VOICE,MOD_DATE,MOD_ID,RECORD_KEPT,FORM_TYPE
4305,"MAINTENANCE OF WAY EMPLS, IBT",BMWE,2049,3,NaN,1970-12-01,NaN,F,30000.0,2018-04-01,...,NaN,125 W. MERLE HIBBS BLVD #22,MARSHALLTOWN,IA,501580733,NaN,2019-05-07 09:48:22.791273,10000,F,LM-4

In [55]:
union_df_columns = [
    'UNION_NAME',
    'UNIT_NAME',
    'F_NUM',
    'AFF_ABBR',
    'NEXT_ELECTION',
    'FORM_TYPE',
    'RPT_ID'
]

In [45]:
lead_df_columns = [
    'FIRST_NAME',
    'MIDDLE_NAME',
    'LAST_NAME',
    'TITLE',
    'RPT_ID',
]

In [56]:
lead_df = lead_df.loc[:,lead_df_columns]
unions_df = unions_df.loc[:,union_df_columns]

In [58]:
out_df = pd.merge(
    lead_df,
    unions_df,
    how='left',
    on='RPT_ID'
)
out_df.head()

,FIRST_NAME,MIDDLE_NAME,LAST_NAME,TITLE,RPT_ID,UNION_NAME,UNIT_NAME,F_NUM,AFF_ABBR,NEXT_ELECTION,FORM_TYPE
0,DANNY,,SEEBECK,PRESIDENT,739402,UTILITY WORKERS AFL-CIO,NaN,25132,UWU,11/2021 ...,LM-3
1,TAYLOR,,SIMMS,VICE PRESIDENT,739402,UTILITY WORKERS AFL-CIO,NaN,25132,UWU,11/2021 ...,LM-3
2,PAYTON,,REECE,SECRETARY,739402,UTILITY WORKERS AFL-CIO,NaN,25132,UWU,11/2021 ...,LM-3
3,ROY,,HINDMAN,TREASURER,739402,UTILITY WORKERS AFL-CIO,NaN,25132,UWU,11/2021 ...,LM-3
4,MELVIN,,WALKER,STEWARD,739402,UTILITY WORKERS AFL-CIO,NaN,25132,UWU,11/2021 ...,LM-3

In [59]:
out_df['YEAR'] = 2020

In [60]:
out_df.dtypes

FIRST_NAME       object
MIDDLE_NAME      object
LAST_NAME        object
TITLE            object
RPT_ID            int64
UNION_NAME       object
UNIT_NAME        object
F_NUM             int64
AFF_ABBR         object
NEXT_ELECTION    object
FORM_TYPE        object
YEAR              int64
dtype: object

In [63]:
out_df = out_df.dropna(subset=['FIRST_NAME'])

In [64]:
out_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33473 entries, 0 to 33481
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FIRST_NAME     33473 non-null  object
 1   MIDDLE_NAME    33473 non-null  object
 2   LAST_NAME      33472 non-null  object
 3   TITLE          33472 non-null  object
 4   RPT_ID         33473 non-null  int64
 5   UNION_NAME     33473 non-null  object
 6   UNIT_NAME      11346 non-null  object
 7   F_NUM          33473 non-null  int64
 8   AFF_ABBR       33473 non-null  object
 9   NEXT_ELECTION  33473 non-null  object
 10  FORM_TYPE      33473 non-null  object
 11  YEAR           33473 non-null  int64
dtypes: int64(3), object(9)
memory usage: 3.3+ MB